# New Relic python agent
newrelic==6.4.4.161
Flask
Flask-RESTful
flasgger
cython
pandas
pendulum
sqlalchemy
slack-sdk
oci
requests
pymssql
pytz
pyOpenSSL
ndg-httpsclient
pandas==1.3.5
pyasn1
pywinrm
pandas_market_calendars
pymongo
pyodbc
psycopg2-binary
pyarrow
fsspec
ocifs
oracledb
polars
apache-airflow-providers-celery
sonar
